/* Pretty Buttons
------------------------------------- */
.button, .buttons, .button button, .buttons button {
	cursor: pointer;
	font-size: 100%;
	line-height: 130%;
	padding-top: 5px !important;
	padding-right: 5px !important;

}

.buttons button {
	height: 35px;
	text-decoration: none;
	width: auto;
	overflow: visible;
}

.button a, .buttons a, .button button .buttons button {
	display: block;
	float: left;
	background-image: linear-gradient(rgb(254,254,254), rgb(224,224,224));
	border: 1px solid #dedede !important;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 100%;
	line-height: 130%;
	height: 21px;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;
	padding: 5px 10px 6px 7px;
	margin-right: 3px;
}

.button buttons, .buttons buttons  {
	text-decoration: none;
	width: auto;
	overflow: visible;
	padding: 4px 10px 3px 7px;
	height: 34px;
}

.button button[type], .buttons button[type] {
	text-decoration: none;
	padding: 5px 10px 5px 7px;
	line-height: 17px;
}

.button a img, .buttons a img, .button button img, .buttons button img {
	text-decoration: none;
	margin: 0 3px -3px 0 !important;
	padding: 0;
	border: none;
	width: 16px;
	height: 16px;
}

/* standard buttons */
.button:hover, .buttons:hover, .button a:hover, .buttons a:hover {
	background-image: linear-gradient(rgb(244,244,244), rgb(214,214,214));
	text-decoration: none;
	border: 1px solid #CBCBCB;
	border-width: 2px;
	font-size: 100%;
}

.button a:active, .buttons a:active {
	text-decoration: none;
	border: 1px solid #dedede;
	color: #fff;
}

/* positive buttons */
button.positive, buttons.positive, .button a.positive, .buttons a.positive {
	text-decoration: none;
	color: #529214;
}

button.positive:hover, buttons.positive:hover, .button a.positive:hover, .buttons a.positive:hover {
	text-decoration: none;
	border: 1px solid #f5f5f4;
	color: #529214;
}

.button a.positive:active, .buttons a.positive:active {
	text-decoration: none;
	border: 1px solid #529214;
	color: #fff;
}

/* negative buttons */
button.negative, buttons.negative, .button a.negative, .buttons a.negative{
	text-decoration: none;
	color: #d12f19;
}

.button a.negative:hover, .buttons a.negative:hover, button.negative:hover, buttons.negative:hover {
	text-decoration: none;
	background-image: none !important;
	background-color: #fbe3e4;
	border: 1px solid #fbc2c4;
	color: #d12f19;
}

.button a.negative:active, .buttons a.negative:active {
	text-decoration: none;
	background-image: none !important;
	background-color: #d12f19;
	border: 1px solid #d12f19;
	color: #fff;
}

.button .fixedwidth, .buttons .fixedwidth {
	text-align: left;
	width: 220px;
}

/* disabled buttons */
button:hover:disabled, buttons:hover:disabled, .button a:hover:disabled, .buttons a:hover:disabled {
	text-decoration: none;
	background-image: none !important;
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
}

.button .disabled_button .buttons .disabled_button {
	color: #c2c2c2;
}

/*sidebar vertical buttons */
.box-edit .buttons a, .theme_links .buttons a{
	width: 90% !important;
}