/* Pretty Buttons
------------------------------------- */
.buttons, .button, .button button, .buttons button {
	cursor: pointer;
	font-size: 100%;
	line-height: 130%;
	padding: 5px 10px !important;
}

.buttons button {
	height: 35px;
	text-decoration: none;
	width: auto;
	overflow: visible;
}

.button a, .button button .buttons a, .buttons button {
	display: block;
	margin: 0 7px 0 0;
	background-image: linear-gradient(rgb(244,244,244), rgb(237,237,237));
	border: 1px solid #dedede !important;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	height: 21px;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
}


.buttons button img, .buttons a img {
	text-decoration: none;
	margin: 0 3px -3px 0 !important;
	padding: 0;
	border: none;
	width: 16px;
	height: 16px;
}

/* standard buttons */
button:hover, .button a:hover, .buttons a:hover {
	text-decoration: none;
	background-color: #dff4ff;
	border: 1px solid #CBCBCB;
	border-width: 2px;
	color: #FF8A00;
	font-size: 100%;
	padding: 5px 10px !important;
}

.buttons a:active {
	text-decoration: none;
	background-color: #6299c5;
	border: 1px solid #dedede;
	color: #fff;
}

/* positive buttons */
button.positive, .buttons a.positive {
	text-decoration: none;
	color: #529214;
}

.buttons a.positive:hover, button.positive:hover {
	text-decoration: none;
	background-color: #E6EFC2;
	border: 1px solid #f5f5f4;
	color: #529214;
}

.buttons a.positive:active {
	text-decoration: none;
	background-color: #529214;
	border: 1px solid #529214;
	color: #fff;
}

/* negative buttons */
.buttons a.negative, button.negative {
	text-decoration: none;
	color: #d12f19;
}

.buttons a.negative:hover, button.negative:hover {
	text-decoration: none;
	background: #fbe3e4;
	border: 1px solid #fbc2c4;
	color: #d12f19;
}

.buttons a.negative:active {
	text-decoration: none;
	background-color: #d12f19;
	border: 1px solid #d12f19;
	color: #fff;
}

