/*
Login form basic styling
*/
/*
    Author     : sbillard
*/

#loginform {
	text-align: left;
	padding: 10px;
	width: 365px;
	margin: 25px auto;
	margin-top: 15%;
	font-size: medium;
}

#loginform fieldset {
	padding:10px;
	text-align:left;
	border: 1px solid lightgray;
}

#loginform .show_checkbox {
	float: right;
	position:relative;
	top: 1.15em;
	left:-15px;
}

#loginform input.textfield {
	margin: 0px;
	width:270px;
	font-size: medium;
	padding: 4px;
}

#loginform .logon_form_text {
	padding: 4px;
	text-align:left;
	margin-left: 10px;
	margin-left: 5px;
}

#loginform .logon_link {
	text-align:center;
}

#logon_box fieldset {
	width: 310px;
	text-align: left;
}

.logon_welcome {
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
	font-size: 100%;
	width: 94%;
	font-weight: normal;
}

#loginform button[type] {
	display: inline !important;
	height: 35px !important;
}

#logon_box input#user,
#logon_box input#pass {
	width: 300px;
}

#loginform button[type] {
	display: inline !important;
	height: 35px !important;
}

#logon_box input#user,
#logon_box input#pass {
	width: 300px;
}

