#commententry h3 {
	background:none;
	font:normal;
	padding:none;
	margin:0;
}


/*sidebar vertical buttons */
.box-edit .buttons a,
.theme_links .buttons a{
	width: 90% !important;
}

/*------------------------------------- */
#commentform input.button  {
	margin-left: 10px;
	display: block;
	float: left;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	font-size: 100%;
	line-height: 100%;
	text-decoration: none;
	font-weight: normal;
	cursor: pointer;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#commentform input.button {
	text-decoration: none;
	width: auto;
	overflow: visible;
}

#commentform input.button hover {
	text-decoration: none;
	background-color: #dff4ff;
	border: 1px solid #CBCBCB;
	color: #FF8A00;
}

#commentform input.button active {
	text-decoration: none;
	background-color: #6299c5;
	border: 1px solid #6299c5;
	color: #fff;
}

/* positive buttons */
#commentform input.button positive {
	text-decoration: none;
	color: #529214;
}

#commentform input.button positive:hover {
	text-decoration: none;
	background-color: #E6EFC2;
	border: 1px solid #f5f5f4;
	color: #529214;
}

#commentform input.button positive:active {
	text-decoration: none;
	background-color: #529214;
	border: 1px solid #529214;
	color: #fff;
}

/* negative buttons */
#commentform input.button negative {
	text-decoration: none;
	color: #d12f19;
}

#commentform input.button negative:hover {
	text-decoration: none;
	background: #fbe3e4;
	border: 1px solid #fbc2c4;
	color: #d12f19;
}

#commentform input.button negative:active {
	text-decoration: none;
	background-color: #d12f19;
	border: 1px solid #d12f19;
	color: #fff;
}

.logon_link {
	text-align:center;
}
.logon_link a {
	color:#0a9eff !important;
}

.logon_link a:hover {
	color: #FF8A00 !important;
	text-decoration: none;
	border-bottom: 1px solid #FF8A00;
}

label {
	cursor: pointer;
}

label:hover {
	color: #000;
}

#Federated_buttons_fieldlist #Federated_buttons_fieldlist fieldlist {
	color:white;
}
/* box for important notes
------------------------------ */
.notebox {
	padding: 5px 10px 5px 10px;
	background-color: #FFEFB7;
	border-width: 1px 1px 2px 1px;
	border-color: #FFDEB5;
	border-style: solid;
	margin-bottom: 10px;
	font-size: 100%;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.notebox li {
	list-style-type: none;
}

.notebox h2,.notebox strong {
	color: #663300;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 1em;
}
/* Messages
------------------------------ */
.messagebox {
	background-color: #C0FFA8;
	padding: 10px 15px 10px 15px;
	border-width: 1px 1px 2px 1px;
	border-color: #8BD37C;
	border-style: solid;
	margin-bottom: 10px;
}

.messagebox h2 {
	color: #006633;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 1em;
}

#caption {
	text-align:center;
}

#registration_form p, #commentform p, #mailform p {
	clear: both;
	margin-bottom: 8px;
}

#registration_form label,
#commentform label,
#mailform label {
	width: 30% !important;
	float: left;
	display: block;
}
#commentform label[for=private] {
	width: auto !important;
}
#registration_form input[type="text"],
#registration_form input[type="password"],
#mailform input[type="text"],
#commentform input[type="text"] {
	width: 250px;
}

#mailform textarea,
#commentform textarea#comment {
	clear: both;
	width: 95% !important;
	height: 150px;
}

img#captcha {
	display: block;
	float: left;
	margin-bottom: 5px;
}
input#code {
	float: left;
	margin-left: 10px;
	width: 10em !important;
}

.error {
	color: #C33;
	font-weight: bold;
}

.zen-logo, .zen-logo a {
	text-decoration: none;
}
.zen-logo img {
	vertical-align: sub;
}

#admin_tb_data{
	padding-top: 20px;
	background-color: rgba(0, 0, 0, 0.25);
	border: 1px solid gray;
}

#admin_tb, #admin_tb_data a {
	text-decoration:none;
}
#admin_tb h3 {
	color: black;
}
#admin_tb h3 a {
	text-decoration:none;
}


/* logon form */
#loginform {
	color: black !important;
	background-color: #F7F8F9;
	border-top: 1px solid #BAC9CF;
	border-left: 1px solid #BAC9CF;
	border-right: 1px solid #BAC9CF;
	border-bottom: 5px solid #BAC9CF;
}
#loginform fieldset {
	color: black !important;
	border: 1px solid lightgray;
}

#loginform .show_checkbox {
	color: black !important;
	background-color: #F7F8F9;
	top: 1.35em !important;
}

#loginform input[type="text"], #loginform input[type="password"] {
	color: black !important;
	background-color : #F7F8F9;
	border-top: 1px solid #BAC9CF;
	border-left: 1px solid #BAC9CF;
	border-right: 1px solid #BAC9CF;
	border-bottom: 1px solid #BAC9CF;
}

#loginform .logon_form_text {
	color: black !important;
	background-color: #F7F8F9;
}

#loginform button[type] {
	color: black !important;
	background-color: #F7F8F9;
}

.g-recaptcha > div{
	margin: 10px auto !important;
	text-align: center;
	width: auto !important;
	height: auto !important;
}

.disclose_password_show {
	padding-right: 60px !important;
}