/* Pretty Buttons
------------------------------------- */

.npgButton a, button.npgButton, input[type=submit].npgButton {
	cursor: pointer;
	line-height: 130%;
	padding-right: 5px !important;
	padding-bottom: 6px;
	padding-Left: 7px;
	border: 1px solid #dedede !important;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	height: 35px;
	text-decoration: none;
	width: auto;
	overflow: visible;
	display: block;
	float: left;
	background-image: linear-gradient(rgb(254,254,254), rgb(224,224,224));
	font-size: 100%;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	color: #565656;
	margin-right: 3px;
}

.npgButton a {
	height: 22px !important;
}

.buttonText {
	font-weight: bold;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.npgButton a img, button.npgButton img {
	text-decoration: none;
	margin: 0 3px -3px 0 !important;
	padding: 0;
	border: none;
	width: 16px;
	height: 16px;
}

/* standard npgButton */
button.npgButton:hover, .npgButton:hover, .npgButton a:hover {
	background-image: linear-gradient(rgb(244,244,244), rgb(214,214,214));
	text-decoration: none;
	border: 1px solid #CBCBCB;
	border-width: 2px;
	font-size: 100%;
}

.npgButton a:active {
	text-decoration: none;
	border: 1px solid #dedede;
	color: #fff;
}

/* positive npgButton */
button.npgButton.positive, .npgButton.positive, .npgButton a.positive {
	text-decoration: none;
	color: #529214;
}

button.npgButton.positive:hover, .npgButton.positive:hover, .npgButton a.positive:hover {
	text-decoration: none;
	border: 1px solid #f5f5f4;
	color: #529214;
}

.npgButton a.positive:active {
	text-decoration: none;
	border: 1px solid #529214;
	color: #fff;
}

/* negative npgButton */
button.npgButton.negative, .npgButton.negative, .npgButton a.negative{
	text-decoration: none;
	color: #d12f19;
}

.npgButton a.negative:hover, button.negative:hover, .npgButton.negative:hover {
	text-decoration: none;
	background-image: none !important;
	background-color: #fbe3e4;
	border: 1px solid #fbc2c4;
	color: #d12f19;
}

.npgButton a.negative:active {
	text-decoration: none;
	background-image: none !important;
	background-color: #d12f19;
	border: 1px solid #d12f19;
	color: #fff;
}

.fixedwidth {
	text-align: left;
	width: 220px !important;
	margin-bottom: 5px;
}
.fillwidth {
	text-align: left;
	width: 90% !important;
	margin-bottom: 5px;
}

/* disabled npgButton */
button.npgButton:hover:disabled, .npgButton:hover:disabled, .npgButton a:hover:disabled {
	text-decoration: none;
	background-image: none !important;
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
}

.npgButton.disabled_button {
	color: #c2c2c2;
}
